
.tituloHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.temperatureContainer {
    display: flex;
    align-items: center;
    font-family: var(--fonte-titulos);
    font-size: 1.0rem; 
}

@media (max-width: 320px) {
    .tituloHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10% 0 0 0;
        border-bottom: 1px solid #ddd;
    }
    

    .temperatureContainer {
        display: none;
    }
    
  }
  
