.WelcomeTitDV{
    height: auto;
    margin: 0;
    width: 100%;
}


.welcomeTit {
    background-image: url('../../Images/bannerprincipal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    font-family: var(--fonte-titulos);
    width: 100%;
    color: var(--branco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10%;
    text-align: center;
}

@media (max-width: 575px) {
    .welcomeTit {
        background-image: url('../../Images/bannerprincipal.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-attachment: scroll;
        font-family: var(--fonte-titulos);
        width: 100%;
        font-size: 120%;
        color: var(--branco);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        padding: 10%;
        text-align: center;
    }

}
