 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --fonte-titulos: 'Montserrat', sans-serif;
    --cor-fonte-titulos: #54948f;
    --fonte-paragrafos: 'Roboto', sans-serif;
    --cor-fonte-paragrafos: #1b2027;
    --cor-primaria: gray;
  }

  body{
    background-image: url(Images/fundoSite.jpg);
  }

  
  a, button, input, textarea {
    font: inherit;
    color: inherit;
  }
  
  button {
    background-color: transparent;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1, h2, h3 {
    font-weight: 700;
    line-height: 5rem;
  }